extends ../layout

block content
	.container
		.row
			label.col-sm-2 留言编号
			label.col-sm-10 #{msg.num}
			label.col-sm-2 留言秘钥
			label.col-sm-10 #{msg.key}
			label.col-sm-2 留言内容
			label.col-sm-10 #{msg.message}
